:root {
  /* Primary */
  --moderate-blue: hsl(238, 40%, 52%);
  --soft-red: hsl(358, 79%, 66%);
  --light-grayish-blue: hsl(239, 57%, 85%);
  --pale-red: hsl(357, 100%, 86%);

  /* Neutral */
  --dark-blue: hsl(212, 24%, 26%);
  --grayish-blue: hsl(211, 10%, 45%);
  --light-gray: hsl(223, 19%, 93%);
  --very-light-gray: hsl(228, 33%, 97%);
  --white: hsl(0, 0%, 100%);
}

body {
  background-color: var(--very-light-gray);
  font-family: "Rubik", sans-serif;
}
.comment-box {
  margin: 15px;
  padding: 15px;
  display: flex;
  align-items: center;
  border-color: var(--very-light-gray);
  border-radius: 10px;
  max-width: 700px;
  background-color: white;
}

.vote-box {
  margin: 15px;
  padding: 5px;
  background-color: var(--light-gray);
  display: flex;
  flex-direction: column;
  max-width: 25px;
  min-height: 70px;
  align-items: center;
  justify-content: space-between;
  border-radius: 10px;
  font-family: "Rubik", sans-serif;
}

.vote-number {
  color: var(--dark-blue);
}

.vote-button {
  margin: 7px;
}

.vote-button:hover {
  cursor: pointer;
}

.comment-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-content: center;
  max-height: 30px;
  align-items: center;
  margin-left: 20px;
  margin-bottom: 20px;
  margin-top: 20px;
}

.profile-pic {
  max-height: 40px;
  max-width: 40px;
}
.username {
  font-weight: bolder;
}

.comment-time {
  color: var(--grayish-blue);
}
.comment-text {
  color: var(--grayish-blue);
  margin-left: 20px;
}

.reply-tag {
  color: var(--moderate-blue);
  font-weight: bolder;
}
.left-box {
  display: flex;
  justify-content: space-between;
  min-width: 300px;
}

.reply-button {
  border: none;
  background-color: var(--white);
  color: var(--moderate-blue);
  font-weight: bolder;
}

.reply-button:hover {
  color: var(--light-grayish-blue);
  cursor: pointer;
}

.delete-button {
  border: none;
  background-color: var(--white);
  color: var(--soft-red);
  font-weight: bolder;
}

.delete-button:hover {
  color: var(--pale-red);
  cursor: pointer;
}

.edit-button {
  border: none;
  background-color: var(--white);
  color: var(--moderate-blue);
  font-weight: bolder;
}

.edit-button:hover {
  color: var(--light-grayish-blue);
  cursor: pointer;
}
